/node_modules
/5_React/node_modules

*.json
*DS_STORE
5_React/19-TheResponsivenessProblem.pdf
5_React/20-DataTransfer-Json.pdf
5_React/myapp/README.md
5_React/myapp/public/favicon.ico
5_React/myapp/public/robots.txt
5_React/myapp/public/assets/images/logo192.png
5_React/myapp/public/assets/images/logo512.png
5_React/myapp/src/logo.svg
__images/img/alberto.png
__images/img/buffet.png
__images/img/logo.png
__images/img/uthappizza.png
5_React/myapp/json-server/public/favicon.ico
5_React/myapp/json-server/public/index.html
5_React/myapp/json-server/public/robots.txt
5_React/myapp/json-server/public/assets/images/logo192.png
5_React/myapp/json-server/public/assets/images/logo512.png
5_React/myapp/json-server/public/images/alberto.png
5_React/myapp/json-server/public/images/buffet.png
5_React/myapp/json-server/public/images/elaicheesecake.png
5_React/myapp/json-server/public/images/logo.png
5_React/myapp/json-server/public/images/uthappizza.png
5_React/myapp/json-server/public/images/vadonut.png
5_React/myapp/json-server/public/images/zucchipakoda.png
