body{
    background-color: rgba(243, 218, 197,1);
    border: black solid 2px;
    padding: 0em;
}

p{
    font-size: 1.3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: black;
    margin-left: 0.5em;
}

#name {
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: cadetblue;
    margin-bottom: 0px;
    margin-left: 0.5em;
}

.divBody{
    background-color: rgba(250, 177, 117, 0.3);
    border: solid rgb(219, 177, 38);
}

.pTitle{
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: coral;
    margin: 0.05em;
    margin-left: 0.5em;
    margin-top: 0.5em;
}

.FirstQuote{
    font-size: 1.8em;
    font-weight: bold;
    border: brown dashed;
    padding: 0.2em;
}

.OneCenter{
    margin-left: auto;
    margin-right: auto;
    padding: 0.0em;
    width: 28%;
}

.elementDiv{
    border: cadetblue solid;
    padding: 1.5em;
    margin: 1.5em;
}

.elementTitle{
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    padding: 1px;
    margin: 0em;
    border-bottom: cadetblue solid 0.5px;
    margin-bottom: 0.5em;
}

.pElement{
    margin: 0em;
    padding: 0em;
}

li{
    padding-bottom: 0.3em;
    font-size: large;
}

a:link{
    color: cadetblue;
}

a:visited, a:hover{
    color: cornflowerblue;
    background-color: greenyellow;
}