h1 {
    color: red;
    font-size: 2em;
}

h2 {
    position: relative;
    left: 2em;
    color: rosybrown;
}

section div{
    color: red;
    background-color: lightblue;
    position: relative;
    margin: 1em 1em 1em 1em;
    padding: 1em 1em 1em 1em;
    left:4em;
    margin-right: 150px;
}